* {
    box-sizing: border-box; /* bxb */
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom, #fff, #90c7e3);
    background-repeat: no-repeat;
    border: 1px solid #003;
    box-shadow: 3px 3px 3px #333;
    color: #666; /* c#fff */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
    min-height: 100vh;
}

#wrapper {
    margin: auto;
    max-width: 75rem;
    width: 80%;
}

header {
    background-color: #000032; /* bgc#fff */
   
    background-image: url(images/sunset.jpg); /* bgi */
    background-position: right; /* bgp */
    background-repeat: no-repeat; /* bgr */
     color: #fff;/* c#fff */
     height: auto;
     padding: 1rem; /* pt15 */
     text-align: center; /* txc */
}

header a {
    text-decoration: none; /* tdn */
}

header a:link, header a:visited {
    color: #fff; /* c#fff */
}

header a:hover {
    color: #90c7e3;
}

nav { 
    font-size: 120%;
    font-weight: bold; /* fw:b */
    padding: 0; /* p1em */
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0; /* m0 */
    padding-left: 0; /* pl0 */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

nav li {
    border-bottom: 1px solid #003;
    padding: 0.5em 0;
    max-width: 100%;
    box-sizing: border-box;
}

nav a {
    text-decoration: none; /* td:n */
}

nav a:link {
    color: #5c7fa3;
}

nav a:visited {
    color: #344873; 
}

nav a:hover {
    color: #a52a2a;
}

main {
    background-color: #fff; /* bgc#fff */
    padding: 0.0625rem 1.25rem 1.25rem 1.87rem; /* p1-20-20 */
}
section {
    /* padding-left: 1rem 0; */
}

h1 {
    letter-spacing: 0.25em;
    margin-bottom: 0;  /* mb0 */
    margin-top: 0; /* mt0 */
}

h1, h2 ,h3, footer {
    font-family: Georgia, "Times New Roman", serif; 
}

h2 {
    color: #1976d2; /* c#fff */
    text-shadow: 1px 1px #404040; /* txs */
}

h3 {
    color: #003; /* c#003 */
}

address {
    font-style: normal;  /* fs:n */
}

footer {
    background-color: #fff;
    font-size: 75%; /* fs75% */
    font-style: italic; /* fsi */
    padding: 2em; /* p2em */
    text-align: center; /* txa */
    max-width: 100vw;
    overflow-wrap: break-word;
}

.resort {
    color: #1976d2; /* c#fff */
    font-weight: bold; /* fwb */
}

#homehero, #yurthero, #trailhero {
    background-repeat: no-repeat; /* bgr:norepeat */
    background-size: cover; /* bgs:cover */
    height: 18.75rem; /* h:18.75rem */
}

#homehero {
    background-image: url(images/coast2.jpg); 
}

#yurthero {
    background-image: url(images/yurt.jpg);
}

#trailhero {
    background-image: url(images/trail.jpg);
}

.card-row {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* g1rem */
    max-width: 100vw;
    box-sizing: border-box;
    overflow: auto;
}

.card-row section {
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

@media (max-width: 32.5rem) {
    body {
        background-image: none;
        border: none;
        box-shadow: none;
        margin: 0;
    }

    #wrapper {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    header {
        background-image: none;
        padding: 0;
    }

    footer {
        padding: 1em;
    }
}

@media (min-width: 37.5rem) {
    nav ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav li {
        border-bottom: none;
        padding: 0 1rem;
        max-width: none;
    }

    .card-row {
        flex-direction: row;
        gap: 2rem;
        max-width: 100vw;
    }

    .card-row section {
        flex: 1 1 0;
        max-width: 100%;
    }
}