body {
    background-color: #fff; /* bgc#fff */
    color: #555; /* c#fff */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}

header {
    background-color: #000032; /* bgc#fff */
    color: #fff;/* c#fff */
    background-image: url(images/sunset.jpg); /* bgi */
    background-position: right; /* bgp */
    background-repeat: no-repeat; /* bgr */
    line-height: 400%; /* lh400% */
    text-indent: 1em; /* txi */
}

nav {
    background-color: #bbdefb; /* bgc#fff */
    font-weight: bold; /* fw:b */
}

nav a {
    text-decoration: none; /* td:n */
}

h1 {
    margin-bottom: 0;  /* mb0 */
}

h1, h2 ,h3, footer {
    font-family: Georgia, "Times New Roman", serif; 
}

h2 {
    color: #1976d2; /* c#fff */
}

h3 {
    color: #003; /* c#003 */
}

dt {
    color: #002171; /* c#fff */
}

address {
    font-style: normal;  /* fs:n */
}

footer {
    font-size: 75%; /* fs75% */
    font-style: italic; /* fsi */
    text-align: center; /* txa */
}

.resort {
    color: #1976d2; /* c#fff */
    font-weight: bold; /* fwb */
}

