* {
    box-sizing: border-box; /* bxb */
}

body {
    background-color: #eaeaea; /* bgc#fff */
    color: #555; /* c#fff */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}

#wrapper {
    background-color: #90c7e3;
    background-image: linear-gradient(to bottom, #fff, #90c7e3);
    border: 1px solid #003;
    box-shadow: 3px 3px 3px #333;
    margin: auto;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
}

header {
    background-color: #000032; /* bgc#fff */
   
    background-image: url(images/sunset.jpg); /* bgi */
    background-position: right; /* bgp */
    background-repeat: no-repeat; /* bgr */
     color: #fff;/* c#fff */
     height: 60px;
     padding-top: 15px; /* pt15 */
     text-align: center; /* txc */
}

header a {
    text-decoration: none; /* tdn */
}

header a:link, header a:visited {
    color: #fff; /* c#fff */
}

header a:hover {
    color: #90c7e3;
}

nav { 
    float: left; /* fl */
    font-size: 120%;
    font-weight: bold; /* fw:b */
    padding: 1.5em; /* p1em */
    width: 160px;
}



nav ul {
    list-style-type: none; /* lst:n */
    margin: 0; /* m0 */
    padding-left: 0; /* pl0 */

}

nav a {
    text-decoration: none; /* td:n */
}

nav a:link {
    color: #5c7fa3;
}

nav a:visited {
    color: #344873; 
}

nav a:hover {
    color: #a52a2a;
}

main {
   
    background-color: #fff; /* bgc#fff */
    margin-left: 190px; /* ml190 */
     padding: 1px 20px 20px 30px; /* p1-20-20 */

     overflow: auto; /* ova */
}
section {
    float: left;
    padding-left: 2em;
    padding-right: 2m;
    width: 33%;
}

h1 {
    letter-spacing: 0.25em;
    margin-bottom: 0;  /* mb0 */
    margin-top: 0; /* mt0 */
}

h1, h2 ,h3, footer {
    font-family: Georgia, "Times New Roman", serif; 
}

h2 {
    color: #1976d2; /* c#fff */
    text-shadow: 1px 1px #404040; /* txs */
}

h3 {
    color: #003; /* c#003 */
}

dt {
    color: #002171; /* c#fff */
}

address {
    font-style: normal;  /* fs:n */
}

footer {
    background-color: #fff;
    font-size: 75%; /* fs75% */
    font-style: italic; /* fsi */
    margin-left: 190px;
    padding: 2em; /* p2em */
    text-align: center; /* txa */
}

.resort {
    color: #1976d2; /* c#fff */
    font-weight: bold; /* fwb */
}

#homehero, #yurthero, #trailhero {
    background-repeat: no-repeat; /* bgr:norepeat */
    background-size: cover; /* bgs:cover */
    height: 18.75rem; /* h:18.75rem */
    margin-left: 190px; /* ml190 */
}

#homehero {
    background-image: url(images/coast2.jpg); 
}

#yurthero {
    background-image: url(images/yurt.jpg);
}

#trailhero {
    background-image: url(images/trail.jpg);
}