body {
    background-color: #90C7E3; /* bgc#fff */
    background-image: linear-gradient(to bottom, #fff, #90c7e3);
    background-repeat: no-repeat; /* bgr */
    color: #555; /* c#fff */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}

#wrapper {
    background-color: #fff;
    box-shadow: 3px 3px 3px #333;
    margin: auto;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
}

header {
    background-color: #000032; /* bgc#fff */
   
    background-image: url(images/sunset.jpg); /* bgi */
    background-position: right; /* bgp */
    background-repeat: no-repeat; /* bgr */
     color: #fff;/* c#fff */
     height: 60px;
     padding-top: 15px; /* pt15 */
     text-align: center; /* txc */
}

nav {
    background-color: #fff; /* bgc#fff */
    font-weight: bold; /* fw:b */
    padding: 1em; /* p1em */
     text-align: center; /* txc */
     list-style-position: inside; /* lsp */
}

nav a {
    text-decoration: none; /* td:n */
}

main {
    padding: 1px 20px 20px; /* p1-20-20 */
}

h1 {
    margin-bottom: 0;  /* mb0 */
    margin-top: 0; /* mt0 */
}

h1, h2 ,h3, footer {
    font-family: Georgia, "Times New Roman", serif; 
}

h2 {
    color: #1976d2; /* c#fff */
    text-shadow: 1px 1px #404040; /* txs */
}

h3 {
    color: #003; /* c#003 */
}

dt {
    color: #002171; /* c#fff */
}

address {
    font-style: normal;  /* fs:n */
}

footer {
    font-size: 75%; /* fs75% */
    font-style: italic; /* fsi */
    padding: 2em; /* p2em */
    text-align: center; /* txa */
}

.resort {
    color: #1976d2; /* c#fff */
    font-weight: bold; /* fwb */
}

#homehero, #yurthero, #trailhero {
    background-repeat: no-repeat; /* bgr:norepeat */
    background-size: cover; /* bgs:cover */
    height: 18.75rem; /* h:18.75rem */
}

#homehero {
    background-image: url(images/coast2.jpg); 
}

#yurthero {
    background-image: url(images/yurt.jpg);
}

#trailhero {
    background-image: url(images/trail.jpg);
}